.navbar,
.card,
.btn-4,
.btn,
#post,
.jumbotron,
#footer,
.container-contacts {
    background-color: black;
}

.divider,
body {
    background-color: #eee;
}
.banner {
    height: 100vh;
    width: 100%;
    margin-top: 30px; /*VERY IMPORTANT-Keeps that navbar from overlapping the banner*/
    padding-bottom: 5px;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.panel {
    margin: auto;
    width: 30%;
}
.login-or {
    position: relative;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #eee;
    width: 50px;
    text-align: center;
}
.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

#left-side,
.checkout-head {
    background: url("/public-html/img/gravel.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
