/*Formatting the entire page*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*Setting the font family of the page*/
body{
    display: grid;
    grid-template-rows: 100px 1fr auto 100px;
    font-family: 'Montserrat', sans-serif;
    grid-row-gap: 10px;
}

/*The Header*/
#top_header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    padding: 1%;
    flex-basis:100%;
}
#top_header > div{
    flex-basis: 30%;
    margin: auto;
}

/*The background wave layer*/
.wave{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;	/*Makes it come behind everything else*/
}
.settings{
    display: flex;
    justify-content: flex-end;
}

/*Settings Icon*/
.settings img{
    width: 50px;
    height: 50px; 
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img a{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 2%;
    z-index: 2;
}

/*The Driver Details*/
.driver_details{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}
.driver_number h1{
    font-size: 1.7em;
    overflow: hidden;
    font-weight: 600;
}
.user_id h2{
    margin-left: 25px;
    overflow: hidden;
    font-size: 1em;
    font-weight: 400;
}

/*Formatting for smaller screens*/
/*Tablets*/
@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}
	.wave{
		display: none;
    }
    .driver_number h1{
        font-size: 120%;
    }
    .user_id h2{
        font-size: 80%;
    }
    .question{
        border-top: black solid 2px;
    }
    .question h1{
        font-size: 2.5em;
    }
    .user_id h2{
        margin-left: 15%;
    }
}


@media screen and (max-width: 480px){
    .question{
        border-top: black solid 2px;
    }
    #topheader{
        font-size: small;
        height: min-content;
    }
}


@media screen and (max-width: 400px){
    .question{
        border-top: none;
    }
}

/*For iPhone 5 Screen Size*/
@media screen and (max-width: 350px){
    .question{
        padding-top: 2em;
        display: flex;
        justify-content: flex-start;
    }
}