/*The Page Heading*/
.report-heading-space{
    display: flex;
    justify-content: space-evenly;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
}
.report-heading-space h1{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-bottom: 2px black solid;
    width: max-content;
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
}

/*The Account's Stuff*/
.account-settings div{
    background-color: rgba(255, 255, 255, 0.75);
}
.account-settings h2{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding: 0.5em;
    padding-left: 1em;
}
.account-details h2{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 0.5em;
    padding-right: 1em;
}


.report{
    display: grid;
    padding: 5%;
    justify-content: center;
}

.report h2{
    
}