/*The Page Heading*/
.heading-space{
    display: flex;
    justify-content: flex-end;
}
.heading-space h1{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border-bottom: 2px black solid;
    width: max-content;
    font-size: 2em;
    font-weight: 400;
    text-transform: uppercase;
}

/*The Account's Stuff*/
.account-settings{
    background-color: rgba(255, 255, 255, 0.90);
    height: 28em;
    width: 20em;
}
.account-settings h2{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding: 0.5em;
    padding-left: 1em;
}

.user-settings{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding: 0.5em;
    padding-left: 1em;
}

.pages{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.account-details h2{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    padding: 0.5em;
    padding-right: 1em;
}
.container{ /*TODO: Change layouts to use flexbox*/
    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-rows: 7% 60%;
    margin: 0 20px;
}

.report{
    display: grid;
    padding: 5%;
    justify-content: center;
}

.report h2{
    
}