The Program Should Be Able To:
Functional Requirements
    1. Give users available parking spots
    2. Provide a way for users to know how much they're being charged for their stay
    3. Provide users with a way to check out from their parking spots.
    4. Allow businesses to reserve parking spots for their workers.
    5. Provide management with data and reports of the parking system so that they may make future decisions using the data.
    6. Inform users in case of no parking spot being available.

Non-Functional Requirements
    1. Work without hanging
    2. 

    