body{
    margin: 0;
    padding: 0;
    background: url(Media/Background.jpg) no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.loginbox{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:whitesmoke ;
}

.loginbox h1{
    float: left;
    font-size: 40px;
    border-bottom: 2px solid;
    margin-bottom: 50px;
    padding-bottom: 2px;
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid whitesmoke;
}
